// .pager {
//     display: none;
// }

// 灰屏
// html {
//     filter: grayscale(80%);
//     -webkit-filter: grayscale(80%);
//     -moz-filter: grayscale(80%);
//     -ms-filter: grayscale(80%);
//     -o-filter: grayscale(80%);
// }

.how_qb {
    background-color: var(--vp-badge-tip-bg);
    /* rgba(243, 247, 249, 0.5); */
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 10px;

    iframe {
        width: 90%;
        margin: auto;
        padding: 10px;
    }

    h3,
    h2,
    h1 {
        margin-left: 10px;
        margin-top: 5px;
        padding-top: 5px;
    }
}

// hao-card

.hao-card {

    background-color: var(--vp-badge-tip-bg);
    /* rgba(243, 247, 249, 0.5); */
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 10px;

    h3,
    h2,
    h1 {
        margin-left: 10px;
        margin-top: 5px;
        padding-top: 5px;
    }
}

.card-title {
    background-color: var(--hao-c-bg-title);
}

/* moodle style By @How */

.moodle_section {
    background-color: #f1f4f5;
    box-shadow: 0 0 8px 0 #ddd;
    border-top: 1px solid #3f61c4;
    padding: 0 15px 15px 15px;
    margin-top: 20px;
    margin-bottom: 20px;

    h3,
    h2,
    h1 {
        // margin-left: 5px;
        margin-top: 10px;
        padding-top: 10px;
    }
}

.moodle_que {
    background-color: #eff9fc;

    position: relative;
    padding: 0 12px 12px 12px;
    margin-bottom: 1rem;
    border: 1px solid #d1edf6;
    border-radius: .286rem;

    margin-top: 20px;
    margin-bottom: 20px;

}

.mobius-slideb-block {
    background-color: rgb(242, 242, 242);
    border-style: solid;
    border: 2px solid green;

    padding: 5px;
}

.dark,
html[data-theme="dark"] {

    .mobius-slideb-block,
    .moodle_section,
    .moodle_que {
        background-color: black;
    }
}

// hao-card

:root {
    --hao-c-bg-title: var(--hao-c-blue-soft);
}

:root {
    --hao-c-blue-soft: rgba(76, 144, 175, 0.278);
    --hao-c-orange-soft: rgb(243 140 44 / 42%);
}

// font-family 覆写

@font-face {
    font-family: Comic-Sans-MS;
    src: url(https://unsw.cdn.t.bigtomcat.com/web/Comic-Sans-MS.ttf);
    unicode-range: U+30-39, U+41-5A, U+61-7A, U+C0-FF
}

@font-face {
    font-family: HannotateSC-W5;
    src: url(https://unsw.cdn.t.bigtomcat.com/web/HannotateSC-W5.woff);
}



h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Comic-Sans-MS, HannotateSC-W5;
}